.articleHeader {
  z-index: 2;
}

.articles-list {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  z-index: 2;
  margin: auto;
  max-width: 70%;
}

@media (max-width: 1600px) {
  .articles-list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
  }
}

@media (max-width: 1000px) {
  .articles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}




